In [85]:
import pandas as pd

# Read an Excel file
df = pd.read_excel("20251202 Outgoing Incoming Payments.xlsx")
df2 = pd.read_excel("20251202 Sales + Payment aug-nov 2025.xlsx")

In [86]:
df['Selisih'] = (df['DocDate'] - df['CreateDate']).dt.days
df['Month'] = df['DocDate'].dt.month_name()
df['Year'] = df['DocDate'].dt.year
df['Poin'] = df['Selisih'].apply(lambda x: 0 if x < -1 else 1)

In [87]:
df2 = df2[['Document Number', 'Document Status', 'Posting Date', 'Status_payment', 'Payment_Terms_Code']].drop_duplicates()
df2 = df2[~df2['Payment_Terms_Code'].isin(['0 Days', 'COD'])]
df2 = df2[['Document Number', 'Document Status', 'Posting Date', 'Status_payment']]
df2 = df2.sort_values('Document Number').reset_index(drop=True)
df2['Month'] = df2['Posting Date'].dt.month_name()
df2['Year'] = df2['Posting Date'].dt.year
df2['Poin'] = df2['Status_payment'].apply(lambda x: 1 if x == "On Time" else 0)

In [88]:
df.head()

,Type,DocNum,Canceled,DocDate,Jatuh Tempo,CreateDate,Remarks,user,DocType,Selisih,Month,Year,Poin
0,IncomingPayments,250000001,N,2025-06-01,2025-06-01,2025-06-01,Order #DRF0000003,manager,Customer,0,June,2025,1
1,IncomingPayments,250000002,N,2025-06-01,2025-06-01,2025-06-01,Order #DRF0000006,manager,Customer,0,June,2025,1
2,IncomingPayments,250000003,N,2025-06-01,2025-06-01,2025-06-01,Order #DRF0000008,manager,Customer,0,June,2025,1
3,IncomingPayments,250000004,Y,2025-06-01,2025-06-01,2025-06-01,Order #DRF0000007,manager,Customer,0,June,2025,1
4,IncomingPayments,250000005,N,2025-06-01,2025-06-01,2025-06-01,Order #DRF0000009,manager,Customer,0,June,2025,1

In [89]:
df2.head()

,Document Number,Document Status,Posting Date,Status_payment,Month,Year,Poin
0,250043510,C,2025-08-01,Late,August,2025,0
1,250043543,C,2025-08-01,On Time,August,2025,1
2,250043544,C,2025-08-01,On Time,August,2025,1
3,250043545,C,2025-08-01,On Time,August,2025,1
4,250043546,C,2025-08-01,On Time,August,2025,1

In [90]:
import gspread
from gspread_dataframe import set_with_dataframe

# ---- Google Sheets Setup ----
SERVICE_ACCOUNT_FILE = "projectkpidashboard.json"
SPREADSHEET_ID = "1bxVq20N1G9UIyek6BVMgpEMOvQJib-j7Jbsfj82KZtE"
SHEET_NAME = "Database"
SHEET_NAME2 = "Database2"

# Authorize
gc = gspread.service_account(filename=SERVICE_ACCOUNT_FILE)

# Open the Google Sheet
sh = gc.open_by_key(SPREADSHEET_ID)

# Select the worksheet
worksheet = sh.worksheet(SHEET_NAME)
worksheet2 = sh.worksheet(SHEET_NAME2)

# Optional: clear sheet before writing
worksheet.clear()
worksheet2.clear()

# Write DataFrame to Sheet
set_with_dataframe(worksheet, df)
set_with_dataframe(worksheet2, df2)

print("Data uploaded successfully!")

Data uploaded successfully!